            body {
                margin: 0;
                box-sizing: border-box;
                font-family: 'DM Mono', monospace;
                font-family: 'Indie Flower', cursive;
            }
            
            h1 {
                font-size: 70px;
                margin: 0;
            }
            
            .task,
            .taskDone {
                font-size: 20px;
            }
            
            #task_x_container {
                display: flex;
                align-items: center;
                /* justify-content: center; */
            }
            
            #myText {
                width: 80%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid palevioletred;
                border-radius: 12px;
            }
            
            button {
                border-radius: 12px;
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            
            button {
                background-color: white;
                color: black;
                border: 2px solid palevioletred;
            }
            
            button:hover {
                background-color: #ec90bb;
                color: white;
            }
            
            #body {
                background-image: url('https://c4.wallpaperflare.com/wallpaper/820/335/808/flowers-background-tree-pink-wallpaper-preview.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100vh;
                width: 100vw;
                position: fixed;
                overflow: auto;
            }
            
            #list-container {
                margin: 20px;
            }
            
            @media only screen and (max-width: 600px) {
                h1 {
                    font-size: 55px;
                    text-align: center;
                }
                #btn-cont {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #list-container {
                    display: flex;
                    flex-direction: column;
                }
                #myText {
                    width: 100%;
                }
            }
            
            @media screen and (device-aspect-ratio: 9/16) {
                select,
                textarea,
                input[type="text"],
                input[type="password"],
                input[type="datetime"],
                input[type="datetime-local"],
                input[type="date"],
                input[type="month"],
                input[type="time"],
                input[type="week"],
                input[type="number"],
                input[type="email"],
                input[type="url"] {
                    font-size: 16px;
                }
            }